body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Titillium Web', Sans-Serif;
  font-size: 16px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.highlight {
  font-size: medium;
  font-weight: bold;
}
span.field-validation-error {
  color: red;
  font-weight: bold;
}
/* Bootstrap overrides */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
h1,
.h1 {
  font-family: 'Dosis', Sans-Serif;
  font-size: 40px;
}
h2,
.h2 {
  font-family: 'Dosis', Sans-Serif;
  font-size: 36px;
}
h3,
.h3 {
  font-family: 'Dosis', Sans-Serif;
  font-size: 30px;
}
h4,
.h4 {
  font-family: 'Dosis', Sans-Serif;
  font-size: 24px;
}
h5,
.h5 {
  font-family: 'Dosis', Sans-Serif;
  font-size: 18px;
}
h6,
.h6 {
  font-family: 'Dosis', Sans-Serif;
  font-size: 14px;
}